<!DOCTYPE html>
<html>
    <head>
        <title>Email Service Mock UI</title>
        <style>
        body {
            margin:0;
        }
        .oss-gradient {
            height: 5px;
            min-width: 1024px;
            background: yellow;
        }
        .header {
            height: 40px;
            width: 100%;
            min-width: 1024px;
            background: #def;
            display: table;
        }
        .header div {
            display: table-cell;
            vertical-align: middle;
        }
        .logo {
            background-image: url("ericsson_logo_top_small.png");
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: scroll;
            width: 50px;
            height: 100%;
        }
        .oss-text {
            height: 100%;
            overflow: hidden;
        }
        .help {
            height: 100%;
            width: 50px;
        }
        .logout {
            height: 100%;
            width: 60px;
        }
        .content-wrapper {
            width: 1024px;
            background: #defabc;
            margin:0 auto;
        }
        .navigator {
            padding: 5px0;
        }
        .app-name h1 {
            margin:0;
        }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="oss-gradient">
            </div>
            <div class="header">
                <div class="logo">
                </div>
            </div>
            <div class="content-wrapper">
                <div class="navigator">
                    <a href="#">OSS</a> > EmailService
                </div>
                <div class="app-name">
                    <h1>EmailService</h1>
                </div>
            </div>
        </div>
    </body>
</html>
